/* Write CSS here */
.main {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}
.sub {
  background-color: white;
  border: 5px solid greenyellow;
  padding: 10px;
}
.head {
  color: red;
  font-family: cursive;
}
